@keyframes pisca{
    0% {opacity: 0.2;};
    50%{opacity: 1;};
    100%{opacity: 0.2;}
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    }

.urna{
    display: flex;
    background-color: #dbd5c9;
    padding:30px;
    
}

#tela{
    width: 500px;
    height: 320px;
    background: linear-gradient(to right, #8e8e8e, #C1C1C1);
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

#teclado{
    flex:1;
    background-color: #403a3a;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    margin-left: 30px;
}

.t-1{
    width: 80px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin:10px;
    box-shadow: 3px 3px 0  #555;
    cursor: pointer;
   
}

.zero{
    grid-column: 2/3;
    
}

.confirma{
   grid-column: 3/4;
   grid-row: 5/6;
   background-color: #48c079;
   color: black;
   font-size: 15px;
   
 
}

.corrige{
    grid-column: 2/3;
    grid-row: 5/6;
    background-color: #f09046;
    color:black;
    font-size: 15px;
    
}

.branco{
    grid-column: 1/2;
    grid-row: 5/6;
    background-color: white;
    color: black;
    font-size: 15px;
    
}

.d-1{
    display: flex;
    flex: 1;
    margin: 10px;
}
.d-1-left{
    flex:1;
}

.d-1-right{
    width: 90px;
    margin-top: -10px;
    margin-right: -10px;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    
}


.d-1-1{
    height: 50px;
    display:flex;
    align-items: center;
}

.d-1-2{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-1-3{
    height: 50px;
    display: flex;
    align-items: center;
}

.numero{
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 1px solid black;
    margin-right: 5px;
    font-size: 25px;
    text-align: center;
    line-height: 40px;;
}

.pisca{
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


.d-1-4{
    display: flex;
    flex-direction: column;
    line-height: 30px;;
}

.d-2{
    height: 50px;
    border-top: 2px solid black;
    padding-left: 10px;
    padding-bottom: 10px;
}

.verador{
    border: 1px solid black;
    background-color: white;
    text-align: center;
    
    font-size: 15px
}

.verador img{
    width: 90%;
}

.vice{
    border: 1px solid black;
    background-color: white;
    text-align: center;
    width: 80%;
    font-size: 12px;
    
   
      
}

.vice img{
    width: 100%;
    
    
}


.aviso-grande{
    font-size: 40px;
    font-weight: bold;
    display: flex;
    
    justify-content: center;
}

.aviso-gigante{
    font-size: 70px;
    font-weight: bold;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media(max-width: 920px){
    .urna{
        flex-direction: column;
        align-items: center;
    }

    #tela{
        width: 320px;
    }

    #teclado{
        margin-left: 0;
    }
}